:root {
  --main-font-color: #2e2f42;
}
:root {
  --main-background-color: #e5e5e5;
}
:root {
  --second-background-color: #2e2f42;
}
:root {
  --background-team: #f4f4fd;
}
:root {
  --top-line-background-color: #ffffff;
}
:root {
  --portfolio-buttons-text-color: #4d5ae5;
}
:root {
  --all-button-color: #404bbf;
}
:root {
  --all-buttons-text-color: #ffffff;
}

body {
  font-family: "Roboto";
  font-style: normal;
  color: var(--main-font-color);
}
.site-links .link{
  color: var(--main-font-color);
}
.site-links .link:hover,
.site-links .link:focus {
  color: #404bbf;
}
.contacts .link{
  color: var(--main-font-color)
}
.contacts .link:hover,
.contacts .link:focus{
  color: #404bbf;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #4d5ae5;
}
.logo-studio-top {
  color: #2e2f42;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.top-background {
  background-color: var(--top-line-background-color);
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.hero-background {
  background-color: var(--second-background-color);
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
}
.hero-text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.hero-button-color {
  background-color: #4d5ae5;
}

/* заголовки Н2 */
.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.title-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.title-li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.team-background {
  background-color: var(--background-team);
}
.footer-text {
  color: #f4f4fd;
}
.footer-background {
  background-color: var(--second-background-color);
}

/* POTTFOLIO */
.buttons-text {
  color: var(--portfolio-buttons-text-color);
}
.all-buttons-text {
  color: var(--all-buttons-text-color);
}
.buttons-background {
  background-color: var(--background-team);
}
.all-buttons-background {
  background-color: var(--all-button-color);
}
